html, body, header, nav, ul, li, a
{
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family:sans-serif;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

ul
{
  list-style: none;
}

li
{
  float:left;
}

a
{
  text-decoration: none;
  display: block;
  padding: 10px;
}

#logo
{
  float: right;
}