html, body, header, nav, ul, li, a
{
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family:sans-serif;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

ul
{
  list-style: none;
  background: #014062;
  height: 53px;
}

li
{
  font-size:24px;
  float:left;
}

a
{
  color: #CBA000;
  text-decoration: none;
  display: block;
  padding: 10px;
}

li:hover
{
  background: #025481;
  border-bottom: 5px solid #CBA000;
}

#logo
{
  float: right;
}